* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Yanone Kaffeesatz;
}


.container {
  /* position: fixed; */
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid white;
  background-color:white;
  font-family: Yanone Kaffeesatz;

}

.bigButton {
  /* display: flex; */
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  font-style: italic;
  margin-left: 10px;
  box-shadow: 2px 1px 1px black;
  }

  .name {
    display: flex;
    color:rgb(0, 0, 0);
    box-shadow: 2px 1px 1px rgb(207, 204, 204);
    
  }

  .username {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
  }

  .buttons {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid white;
  background-color: white;
  align-items: center;
  font-family: Yanone Kaffeesatz;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.headerlogo {
  

}


